asttokens==3.0.1
certifi==2026.1.4
colorama==0.4.6
comm==0.2.3
debugpy==1.8.20
decorator==5.2.1
distlib==0.4.0
executing==2.2.1
filelock==3.20.3
greenlet==3.5.3
ipykernel==7.2.0
ipython==9.11.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_client==8.8.0
jupyter_core==5.9.1
matplotlib-inline==0.2.1
nest-asyncio==1.6.0
packaging==26.0
parso==0.8.6
pipenv==2026.0.3
platformdirs==4.5.1
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
Pygments==2.19.2
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyzmq==27.1.0
setuptools==82.0.0
six==1.17.0
SQLAlchemy==2.0.51
stack-data==0.6.3
tornado==6.5.5
traitlets==5.14.3
typing_extensions==4.16.0
virtualenv==20.36.1
wcwidth==0.6.0
